{# filepath: source_contract_sql.jinja #}
{# This template generates SQL for source dbt models based on data contract specifications #}

{# Main configuration block #}
{{
    config(
        materialized = 'view',
        alias = contract.entity_label,
        {% if contract.config_meta %}
        meta = {{ contract.config_meta }},
        {% endif %}
        {% if contract.config_tags %}
        tags = {{ contract.config_tags }},
        {% endif %}
        {% if contract.config_labels %}
        labels = {{ contract.config_labels }}
        {% endif %}
    )
}}

with
{% if contract.security_ctes %}
{{ contract.security_ctes }}
{% endif %}
,_source as (
    select * from {{ ref(contract.raw_model) }}
)
select
    {% for field in contract.column_data %}
    {% if not loop.first %},{% endif %}
    {% if field.secured_value and field.secured_value != field.field_alias %}
    {{ field.secured_value }} as {{ field.field_alias }}
    {% else %}
    {{ field.field_alias }}
    {% endif %}
    {% endfor %}
from _source
{% if contract.security_filters or contract.has_deleted_flag %}
where 1=1
    {% if contract.security_filters %}
    and {{ contract.security_filters }}
    {% endif %}
    {% if contract.has_deleted_flag %}
    and not _deleted
    {% endif %}
{% endif %}
